.recipeWrapper {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
        align-items: center;
  -webkit-justify-content: center;
        justify-content: center;
}

#info {
  color: rgb(223, 223, 223);
  font-size: 60px;
  font-family: '';
  margin: auto;
  text-align: center;
  padding-top: 35px;
}

#ban {
  width: 100%;
  height: 150px;
  background-image: url('./img/allfood.jpg');
  background-size: cover;
  background-position: 0% 65%;
  margin-bottom: 50px;
  opacity: .9;
}

.searchMobile {
  margin: auto;
  display: none;
}

.recipesContainer {
  margin: auto;
  text-align: center;
  padding: 30px 0px 30px 0px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
        align-items: center;
  -webkit-justify-content: center;
        justify-content: center;
}

.sorry {
  color: white;
}

.foodimage {
  height: 275px;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.recipeImage {
  /*max-width: 600px;*/
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.ingredients {
  margin-bottom: 40px;
}

.increaseServings {
  margin-bottom: 15px;
}

.createRecipe {
  background: rgba(84, 40, 16, 0.84);
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.recipes {
  margin: auto;
  text-align: center;
  width: 275px;
  height: 60%;
  background: white;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagecontainer {
  position: relative;
}

.imageInfo {
  width: 100%;
  height: 20%;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s ease-out, opacity 0.3s ease-out; -moz-transition: visibility 0.3s ease-out, opacity 0.3s ease-out; -o-transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
  transition: visibility 0.3s ease-out opacity 0.3s ease-out;
}

.imagecontainer:hover .imageInfo {
  visibility: visible;
  opacity: 1;
}

#phototitle {
  padding: 4px;
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(138, 138, 138, .6);
}

#photoinfo {
  padding: 4px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(236, 236, 236, .8);
}

.bottomdescription {
  padding: 10px;
  margin-bottom: 20px;
  display: block;
}

.recipeStats {
  margin-bottom: 10px;
}

.socialrank {
  color: blue;
  font-size: 12px;
  float: left;
}

.publisher {
  font-size: 12px;
  float: right;
}

.favicons {
  float: right;
}

.favheart {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

.recipeView {
  margin: auto;
  text-align: center;
}

.addServings {
  margin: auto;
  color: white;
  width: 50%;
  height: 20%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  background-color: rgb(136, 44, 44);
  /*border: 2px solid rgb(88, 19, 19);*/
  padding: 10px 0px 10px 0px;
  cursor: pointer;
  border-radius: 2px;
}

#customAdd {
  background-color: rgb(209, 209, 209);
  text-align: center;
  margin: auto;
  width: 100%;
  height: 20%;
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#customAdd input {
  width: 70px;
  margin-right: 50px;
  font-weight: bold;
}

#toptop {
  text-align: center;
  font-weight: 300;
  margin: auto;
}

.selectServings {
  width: 50%;
  display: inline-block;
}

#recipeLink {
  color: blue;
}

#link {
  font-weight: 300;
  color: black;
}

#link:hover {
  opacity: .8;
}

.selectedServing {
  background-color: rgb(209, 209, 209);
  text-align: center;
  margin: auto;
  width: 100%;
  height: 20%;
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#selectedServing {
  background-color: rgb(209, 209, 209);
  text-align: center;
  margin: auto;
  width: 100%;
  height: 20%;
  font-size: 16px;
  padding: 5px 0px 5px 0px;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}

#searchBy {
  margin: auto;
  text-align: center;
  color: rgb(223,223,223);
  display: flex;
  padding: 20px;
  justify-content: center;
}

.spacer {
  padding: 0px 8px;
}

.servingsSelector {
  margin: auto;
  text-align: center;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width: 800px) {
  .searchMobile {
    display: block;
  }
  .recipeImage {
    /*max-width: 460px;*/
  }
}

@media(max-width: 460px) {
  #info {
    padding-top: 50px;
    text-align: left;
    margin-left: 80px;
    font-size: 50px;
  }
  .servingsSelector {
    width: 80%;
  }
  /*.recipeImage {
    ;
  }*/
}

/*CUSTOM modalCustS*/


#modalCust {
  position: fixed;
  top: 10%;
  /*left: 70%;*/
  margin: auto;
  z-index: 1050;
  /*width: 70%;*/
  max-width: 630px;
  text-align: center;
  margin-left: 19%;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}


.modalCust-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  /*width: 80vw;*/
  overflow-y: auto;
}

@media(max-width: 1040) {
  #modalCust {
    margin-left: 5%;
    /*max-width: 300px;*/
    /*width: 60vh;*/
  }
}

@media(max-width: 900px) {
  #modalCust {
    margin-left: 10%;
    /*width: 60vh;*/
  }
}

@media(max-width: 800px) {
  #modalCust {
    top: 15%;
    margin-left: 15%;
    max-width: 500px;
    /*width: 50vh;*/
  }
  .modalCust-body {
    max-height: 300px;
  }
}

@media(max-width: 650px) {
  #modalCust {
    margin-left: 8%;
    }
}

@media(max-width: 500px) {
  #modalCust {
    top: 20%;
    /*margin-left: 0%;*/
  }
  .modalCust-body {
    /*max-height: 200px;*/
  }
}

@media(max-width: 400px) {
  #modalCust {
    max-width: 373px;
    margin-left: 0%;
  }
}
