@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100|Lato:400,300,100|Roboto|Roboto+Condensed|Oswald:400,300);

body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 2;
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Lato', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
  /*font-family: 'Oswald', sans-serif;*/
}

.background {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: url('./img/blackwood.jpg')  no-repeat center center fixed;
  background-size:cover;
  z-index:-1;
}

.blur {
  width: 100vw;
  height: 100vh;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0px;
  background: url('./img/cuttingboard.jpg')  no-repeat center center fixed;
  background-size:cover;
  z-index:-1;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
}

body.modal-open {
    overflow: hidden;
}

input {
  outline: 0;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

.pageHeader {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.user {
  float: right;
  color: white;
}

.login {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  background: gray;
  background-color : transparent;
  border-radius: 5px;
}

.login p {
  text-align: center;
}

.userFade {
  color: rgb(223, 223, 223);
  z-index: 200000;
  padding: 20px;
  z-index: 4000;
}

.userBackground {
  display: none;
  top: 2%;
  right: 2%;
  position: absolute;
  width: 120px;
  height: 80px;
  background: black;
  text-align: center;
  z-index: 30000;
}

#welcome {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
    cursor: pointer;
}

.button {
  cursor: pointer;
}

.logout {
  top: 10px;
  color: rgb(47, 47, 47);
  height: 50px;
  width: 80px;
  cursor: pointer;
}

.wrapper {
  border:1px solid #000;
  border-radius: 50px;
  padding: 0px 5px 0px 10px;
  display:inline-block;
  position:relative;
  color: black;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  margin-bottom: 40px;
  margin-left: 20px;
  top: 29px;
  width: 85%;
  height: 35px;
}

#wrapper {
  background: white;
}

#recipesearch {

}

.recipesearch,
.searchbar {
    background-color:transparent;
    border:0;
    outline: none;
}

.searchbar {
    position:absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.searchbar:hover {
  opacity: .6;
}

.recipesearch {
  padding-right:30px; /* button padding */
  padding-left: 10px;
  position: absolute;
  height: 30px;
  width: 85%;
  color: black;
  font-size: 18px;
}

.searchIcon {
  width: 32px;
  height: 32px;
  border: 0;
  margin-right: 5px;;
}

.homecontainer {
  padding: 350px 100px 100px 100px;
}

.linkscontainer {
  width: 32px;
  height: 32px;
  border: 0;
  margin-right: 5px;
  margin-left: 30px;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

/*.pagelinks {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  color: rgb(223, 223, 22
  margin: auto;
  text-align: center;
  display: none;
  right: 5%;
  top: 7%;
  width: 80px;
  height: 5%;
  border: 2px solid white;
  color: white;
  background: black;
  padding: 13px 5px 8px 15px;
  cursor: pointer;
  position: fixed;
  z-index: 2000;
  opacity: 0.9;3);
  font-size: 150%;
  width: 70%;
  border-top: 2px solid rgb(223, 223, 223);
  border-bottom: 2px solid rgb(223, 223, 223);
  position: absolute;
}*/

.navbar {
  margin: auto;
  text-align: center;
  display: none;
  right: 5%;
  top: 7%;
  width: 80px;
  border: 2px solid white;
  color: white;
  background: black;
  padding: 13px 5px 10px 15px;
  cursor: pointer;
  position: fixed;
  z-index: 2000;
  opacity: 0.9;
}

.hamburger {
  display: block;
  color: white;
  opacity: .9;
  width: 50%;
  font-size: 16.5px;
  padding: 5px 0px 5px 0px;
}

.line {
  margin: auto;
  width: 20px;
  border: 1px solid white;
  margin-bottom: 5px;
}

.toggleMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1800;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.91);
  border-left: 2px solid white;
  width: 50%;
  height: 100vh;
  padding: 20px 20px 20px 0px;
  display: none;
  color: rgba(201, 201, 201, 0.93);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;0.91);
  border-left: 2px solid white;
  width: 50%;
  height: 100%;
  padding: 20px 20px 20px 0px;
  display: block;
  color: rgba(201, 201, 201, 0.93);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  display: none;
}

.toggleMenu,
.toggleMenu.fade.in {
  filter: alpha(opacity=80);
}

.linkscontainer {
  margin-top: 50px;
  height: 80%;
  padding-top: 60px;
  position: fixed;
}

.menuLinks {
  display: flex;
  width: 30px;
  margin-bottom: 40px;
  height: 20px;
}

.menuLinks:hover .dash {
  opacity: 1;
}

.dash {
  display: flex;
  width: 30px;
  margin-bottom: 40px;
  height: 20px;size: 18px;
  margin-left: 0px;
  text-align: left;
  width: 20px;
  float: left;
  opacity: 0;
  margin-top: 10px;
  border-top: 1.5px solid rgb(223, 223, 223);
}

.headerLinks {
  width: 200px;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 60px;
  text-align: left;
  cursor: pointer;
}

.headerLink {
  width: 200px;
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 60px;
  text-align: left;
  cursor: pointer;
}

.headerContainer {
  font-size: 18px;
  text-align: left;
  display: flex;
  /*background: rgba(0, 0, 0, 0.87);*/
  width: 100%;
  z-index: 3000;
  height: 100px;
}

.black {
  background: rgba(0, 0, 0, 0.87);
}

.searchheader {
  width: 30%;
}

.pagelinks {
  color: rgb(223, 223, 223);
  margin: auto;
  height: 100px;
  text-align: center;
}

.pagelinks p {
  margin-top: 30px;
}

.pagelinks:hover {
  opacity: .8;
}

/*.pagelinks p {
  color: rgb(223, 223, 223);
  margin: auto;
  height: 79px;
  text-align: center;
  margin-top: 25px;
}*/

.homeicon {
  border-right: 1.5px solid gray;
  opacity: .9;
  width: 100px;
}

.homeicon img {
  width: 60px;
  border-right: 1.5px solid gray;
  padding: 17px 20px;
  height: 60px;
  cursor: pointer;
  border: 0;
}

.pagebar {
  top: 0;
  height: 4px;
  background: rgb(223, 223, 223);
  opacity: 0;
  margin-bottom: 2px;
}

.pagebar2 {
  top: 0;
  height: 4px;
  background: rgb(223, 223, 223);
  opacity: 0;
}

.pagebar3 {
  top: 0;
  height: 4px;
  background: rgb(223, 223, 223);
  opacity: 0;
}

.pagebar4 {
  top: 0;
  height: 4px;
  background: rgb(223, 223, 223);
  opacity: 0;
}


@media(max-width: 800px) {
  .navbar {
    display: flex;
  }
  .toggleMenu {
    display: block;
  }
  .headerContainer {
    display: none;
  }
  .wrapper {
    width: 50%;
    height: 40px;
    color: rgb(223, 223, 223);
    border-radius: 5px;
    left: 22%;
  }
  .recipesearch {
    padding-top: 4px;
    padding-left: 2px;
    width: 80%;
    color: black;
    font-size: 20px;
  }
  .searchIcon {
    height: 38px;
    width: 40px;
  }
  .searchbar {
    right: -5px;
  }
  .userBackground {
    top: 5%;
    right: 3%;
  }
}

@media(max-width: 700px) {
  .headerLinks {
    margin-left: 60px;
  }
  .headerLink {
    margin-left: 60px;
  }
  .wrapper {
    /*width: 60vw;*/
    /*height: 90vh;*/
    /*left: 13%;*/
    }
}

@media(max-width: 650px) {
  .wrapper {
    width: 60vw;
    left: 13%;
  }
  .linkscontainer {
    /*margin-left: 10px;*/
  }
  .toggleMenu {
    width: 60vw;
  }
}

@media(max-width: 500px) {
  .headerLinks {
    margin-left: 40px;
  }
  .headerLink {
    margin-left: 40px;
  }
}

@media(max-width: 400px) {
  .wrapper {
    width: 70vw;
    left: 7%;
  }
}

/*@media(min-width: 600px) {
  .hamburger {
    padding-bottom: 0px;
  }
  .navbar {
    height: 3%;
    top: 4%;
  }
}*/
