<div class="signUpContainer">
  <form class="signUpForm">
    <div class="form"><input class='recipesearch' type="text" placeholder="recipe name" ng-model="recipe.name"></div>
    <div class="form"><input class='recipesearch' type="text" placeholder="publisher" ng-model="recipe.publisher"></div>
    <div class="form"><input class='recipesearch' type="text" placeholder="image link" ng-model="recipe.image_url"></div>
    <div class="form"><input class='recipesearch' type="text" placeholder="ingredients" ng-model="recipe.ingredients"></div>
    <div class="form"><input class='recipesearch' type="text" placeholder="directions" ng-model="recipe.directions"></div>
    <div class="form"><button type="submit" ng-click="">Submit</button></div>
  </form>
</div>
