<link rel='stylesheet' href='../../styles/homestyle.css'>
<link rel="stylesheet" href="./styles/flickity.css" media="screen">
<div ng-controller='homeCtrl'>

  <div class="mainContent">

    <div class="landingImage">
    </div>
    <div class="landingImage1">
    </div>
    <div class="landingImage2">
    </div>
    <div class="landingImage3">
    </div>

    <div class="homepagecontent">
      <h2 class="landingInfo">Take what's in your fridge and get a recipe for it</h2>
      <div class="homepageinfo">
        Don't let your food go to waste anymore. You can mix and match any ingredients to find a recipe that suits you. Get creative and try new things.
      </div>
    </div>

    <div class="landingImage4">
    </div>
    <div class="landingImage5">
    </div>
    <div class="landingImage6">
    </div>
    <div class="landingImage7">
    </div>

  </div>


</div>
